* {
    box-sizing: border-box;
}
body {
    background: #EAE9E5;
}

header {
    background-color: #3d3d3d;
    color: #EAE9E5;
    text-align: center;
}

main {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2%;
}

.row {
    display: flex;
}

.col {
    flex: 1 0 0%;
}

nav {
    background-color: #EAE9E5;
    float: right;
    min-height: 50px;
    min-width: 100px;
    display: inline;
}

nav a {    
    flex-grow: 0;
    padding: 1rem;
    color: #C48F7F;
    text-align: center;
}

/* When hovering adding color selected page*/
nav a:hover{
    background-color: #222d44;
    color: #EAE9E5;
}

section {
    background-color: #F4DDD5;
}

article {
    display: block;
}

aside {
    background-color: #C48F7F;
    margin-left: 0px;
    float: left;
    min-width: 200px;
    text-align: center;
}

.card {
    text-align: left;
    padding-left: 10%;
    min-width: 100vw;
}

@media screen and (max-width: 786px) {
    /* Using flex-direction to stack the navagation bar when screen is small*/
    nav a {
        display: block;
    }
}