* {
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans', 'Optima';
    margin: 0;
}

header {
    padding: 40px;
    text-align: center;
    background-color: #EAE9E5;
    color: #222d44cf;
}

nav {
    display: flex;
    background-color: #c48f7f65;
    float: right;
}

.nava {
    color: #222d44cf;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

/* Adding effect when hovering over navagation links */
a:hover {
    color: #c48f7f;
    background-color: #222d44cf;
}

main {
    display: flex;
    flex-wrap: wrap;
}

#profile {
    background-color: #222d44cf;
    width: 10%;
    float: right;
}

.title {
    text-align: center;
}

section {
    padding: 20px;
    align-items: center;
}